* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
   width: 100%;
   overflow-x: hidden;
}

#header {
   height: 15vh;
   width: 98.89vw;
   justify-content: space-around;
   background-color: rgba(255, 187, 0, 0.937);
   display: flex;
   align-items: center;
   position: fixed;
   z-index: 1000;
}

#fakeheader {
   height: 15vh;
   width: 100vw;
   background-color: rgba(255, 187, 0, 0.937);
}

#main {
   position: relative; 
   height: 100vh; /* Adjust based on your layout needs */
}

#logo img {
   align-items: center;
   justify-content: center;
   padding-top: 40px;
   padding-left: 40px;
}

/* #register {
   display: flex;
   justify-content: right;
   align-items: center;
   border-radius: 15px;
   padding: 5px 10px;
   margin-right: 20px;
   color: white;
   cursor: pointer;
   background-color: rgb(9, 68, 4);
   border-radius: 5px;
} */

#profile {
   display: flex;
   justify-content: right;
   align-items: center;
   padding: 5px 10px;
   margin-right: 20px;
   color: rgb(155, 62, 62);
   cursor: pointer;
}

#profile h5{
   padding-left: 4px;
}

#register:hover {
   background-color: rgb(25, 204, 48);
}

.vehicle {
   padding: 10px;
   color: rgb(9, 68, 4);
   cursor: pointer;
}

.vehicle:hover {
   color: rgb(25, 204, 48);
}

#page1 {
   height: 85vh;
   width: 100vw;
   background-color: black;
   color: whitesmoke;
   display: flex;
   align-items: end;
   justify-content: right;
   position: relative;
   z-index: 1;
}

#webBack{
   height: 100vh;
   overflow-x: hidden;
   width: 100%;
}

#page2{
   width: 100vw;
   background-color: black;
   position: relative;
}

#AI {
   position: absolute; /* Positioning to align both images */
   bottom: 0; /* Align to the bottom */
   left: 0; /* Align to the left */
   padding-left: 10px; /* Optional: Add some padding if needed */
   margin-left: 0;
   margin-bottom: 10px; /* Optional: Adjust margin from bottom */
}

#aiImage {
   width: 60px; /* Original AI image size */
   height: 60px; /* Original AI image size */
   cursor: pointer;
}

#newImage {
   position: absolute; /* Position it absolutely */
   bottom: 0; /* Align with the bottom of the container */
   left: 0; /* Align with the left of the container */
   display: none; /* Initially hidden */
   cursor: pointer;
   top: 75%;
   right: 93%;
   transform: scale(0.6);
}

#background {
   padding-right: 20px;
   margin-bottom: 0;
   padding-bottom: 0;
   display: block;
}